# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment files
.env


# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/